:host {
    display: block;
    position: fixed;
    width: 100%;
    height: 56px;
    background: #4285f4;
    z-index: 99;
    color: #f2f2f2;
    font-size: 16px;
    &:before {
        box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
        content: "";
        height: 56px;
        left: -2%;
        width: 104%;
        position: absolute;
        z-index: -1;
    }
    .header__base {
        position: relative;
        padding: 0 10px;
        line-height: 56px;
        &__title {
            position: absolute;
            display: inline-block;
            font-size: 18px;
            color: #fff;
            font-weight: 400;
            white-space: nowrap;
            padding-left: 10px;
            margin-left: 210px;
        }
    }
    &.header--isbig {
        &:before {
            display: none;
        }
        .header__base {
            &__title {
                display: none;
            }
        }
    }
}


