//naming conventions by OOCSS
// Objects(Modules, Components): .media
// Child Objects: .media__img, .media__body
// Modifiers: .media--inline, .media__img--right
// States: .media.is-active

//1st Principle. Separation of Structure from Skin: .btn {structure} .btn--primary {skin}
//2nd Principle. Separation of Container from Content: 


// CSS Resets & Default Styles, HTML only
html {
  box-sizing: border-box;
  body {
    padding:0;
    margin:0;
    background: #f2f2f2;
    color: #333;
    font-family: "RobotoDraft","Roboto",sans-serif;
  }
}
*, *:before, *:after {
  box-sizing: inherit;
}
*:focus {
    outline: none;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}