:host {
    position: absolute;
    margin-left: 232px;
    transition: margin-left 0.15s;
    .body__header {
        height: 241px;
        background: #4285f4;
        position: relative;
        &__title {
            position: absolute;
            font-size: 56px;
            color: #fff;
            top: 120px;
            left: 120px;
        }
    }
    .body__content {
        font-size: 100px;
        line-height: 300px;
    }
}