<div class="header header--isbig">
    <div class="header__base">
        <button class="button__header__menu">
            <i class="material-icons icon__header icon__header__menu">menu</i>
        </button>
        <span class="header__base__title">Go Engineer!!</span>
        <span class="header__base__search">
            <button class="button__header__search">
                <i class="material-icons icon__header icon__header__search">search</i>
            </button>
            <input type="text" class="input__header input__header_search" placeholder="Search">
            <button class="button__header__close">
                <i class="material-icons icon__header icon__header__close">close</i>
            </button>
        </span>
    </div>
</div>